#titulo-anim{
    animation:linear;
    animation-name: mover;
    transition: 3s;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    
   
}

@keyframes mover {
    0% { filter: hue-rotate(0deg);}
    100% { filter: hue-rotate(360deg);}
    0% {margin-left:0px;}
    50%{margin-left:30px;}
    100%{margin-left:0px;}
}