/*Estilos del footer
*******************************/


.final{
    background-color: rgba(120, 115, 115, 0.688);

}

.logoFooter{
    
    margin-top:20px;
}

.whats{
    color: rgb(242, 248, 243);
    font-size: 1rem;
    margin-left: 20px;
    margin-bottom: 30px;
    margin-top:20px;
}
.whats:hover{
    color:rgb(0, 255, 38);
    font-size:2rem;
    

}
.face{
    color:aliceblue;
    font-size: 1rem;
    margin-top:20px;
}
.face:hover{
    color:#0c30e8;
    font-size:2rem;
}
.subt-foot{
    color:antiquewhite;
}

