/*Estilos del footer
*******************************/


.final{
    background-color: rgba(120, 115, 115, 0.688);

}

.logoFooter{
    
    margin-top:20px;
}

.whats{
    color: map-get($redes-sociales, color);
    font-size: map-get($redes-sociales, tamaño);
    margin-left: map-get($redes-sociales, margen-izqu);
    margin-bottom: 30px;
    margin-top:map-get($redes-sociales, margen-arriba);
    
    &:hover{
        color:map-get($redes-sociales, color-what);
        font-size:2rem;
    }
}

.face{
    color:map-get($redes-sociales, color);
    font-size: map-get($redes-sociales, tamaño);
    margin-top:map-get($redes-sociales, margen-arriba);

    &:hover{
        color:map-get($redes-sociales, color-face);
        font-size:2rem;
    }
}

.subt-foot{
    color:antiquewhite;
}

