/*Estilos del header
*****************************/

.logo{
    @include estilo-logo(10px, 15%); /*mixin con parámetro*/
    
}



.encabezado{
    top:10px;
    height: 5vh;
    border-bottom-right-radius: 20px;
}
