/********Productos********/


.escolares{
    @include flex-wrap-center-between; /*mixin aplicado*/
}

.remera{
    
    margin: map-get($estilos-productos, margen );
    padding: map-get($estilos-productos, interior);
    width: map-get($estilos-productos, ancho);
    height: map-get($estilos-productos, alto);
    object-fit: cover;
    transition: 0.5s;

    &:hover{
        transform:scale(1.2); /*transform aplicado a las imagenes de productos*/
    }
}


.mas{
    text-align: center;
    font-size: 50px;
    color:rgb(30, 33, 219);
}

.parrafo_final{
    margin-top: 20px;
    font-size: 30px;
    color:aliceblue;
    text-align: center;
}

@media only screen and (min-width:320px) and (max-width:768px){
    
   
    .remera{
        width: 80%;
        height: 80%;
       
    }
    .mas{
        
        font-size: 25px;
       
    }
    .parrafo_final{
        font-size: 15px;
        
    }
}